@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans.ttf);
}

* {
    box-sizing: border-box;
    font-family: openSans;
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr 75px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
}

.header-title {
    text-align: center;
    font-size: 50px;
    margin: 20px;
}

.body-container {
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: auto;
    padding: 10px;
}

.add-btn-container {
    position: fixed;
    height: 8vw;
    width: 8vw;
    right: 40px;
    bottom: 40px;
    z-index: 1;
}

.add-btn-container button {
    border: none;
    border: 1px solid black;
    border-radius: 50%;
    color: white;
    background-color: #8cc5ff;
    font-size: 75px;
    height: 8vw;
    width: 8vw;  
    text-align: center;
    vertical-align: middle;
    line-height: 8vw;
    cursor: pointer;
    z-index: 1;
}

.pop-up-message {
    position: fixed;
    display: none;
    font-size: 24px;
    bottom: 100px;
    right: 180px;
}

.add-btn-container button:hover {
    font-size: 90px;
}

.add-btn-container:hover + .pop-up-message {
    display: block;
}

.book-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    border: 1px solid black;
    background-color: #8cc5ff;
    height: 40vh;
    width: 30vh; 
    bottom: 200px;
    right: 25px;
    padding: 20px;
    visibility: hidden;
    z-index: 1;
}

.form-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-field label {
    display: block;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
}

.input-field input {
    display: block;
    width: 100%;
    height: 28px;
    margin-bottom: 5px;
    padding: 2px;
    padding-left: 8px;
}

.form-middle {
    font-size: 14px;
    text-transform: uppercase;
}

.checkbox-field {
    display: flex;
    gap: 20px;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.submit-btn {
    background-color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.close-form-btn {
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #ff5656;
    font-size: 25px;
    padding-left: 12px;
    padding-right: 12px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid black;
}

.footer-text {
    text-align: center;
    font-size: 20px;
    margin: 20px;   
}

.bookCard {
    position: relative;
    border: 1px solid black;
    height: 100%;
    padding: 10px;
    padding-top: 50px;
}

.bookCardContainer {
    padding: 10px;
    width: 20%;
    height: 250px;
}

.deleteBtn {
    position: absolute;
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    color: white;
    background-color: #ff5656;
    font-size: 20px;
    text-align: center;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    cursor: pointer;
}